body {
    position: relative;
}
img {
/*    height: 800px;
    width: 1280px;*/
    display: none;
}
.wrapper {
}

.image {
    margin: 10px;
    display: inline-block;
}
.userinput {
   margin: auto;
   width: 220px;
   margin-bottom:20px;
}

button {
  margin:10px 5px 10px 0px;
  width:64px;
}

.bigbox {
  text-align:center;
}